/* main */
.welcome-text {
    font-size: 1.5em;
    font-weight: normal;
    text-align: center;
    color: #555;
}

/* Kategorierne */

.categories {
    font-size: 1.8em;
    font-weight: bold;
    color: #333;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    padding: 50px;
}

.card {
    background-color: #888;
    color: #fff;
    padding: 70px 10px;
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
}

.card:hover {
    background-color: #666;
}

h2{padding: 50px;}