/* Index siden - landing page - kategorierne */
/* main */
.welcome-text {
    font-size: 30px;
    text-align: center;
    color: #000000;
}
.welcome-text-h2 {
    font-size: 20px;
    font-weight: normal;
    text-align: center;
    color: #000000;
}


/* Kategorierne */

.grid-container div {
    font-size: 1.8em;
    font-weight: bold;
    color: #333;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    padding: 50px;
}

.grid-container div {
  display: grid;
  grid-column: 1/-1;
  font-size: 20px;

}

.card {
    background-color: #ffffff;
    color: #000000;
    padding: 70px 10px;
    text-align: center;
    font-size: 18px;
}

.card:hover {
    background-color: #bbbbbb;
    color: #fff;
}

@media (max-width: 768px) {
    .grid-container {
        /* Ændrer til 2 kolonner på tablets */
        grid-template-columns: 1fr 1fr;
    }
    .sold-out-badge{
    grid-template-columns: 1fr 1fr;}
}

@media (max-width: 480px) {
    .grid-container{
        /* Ændrer til 1 kolonne på mobiltelefoner */
        grid-template-columns: 1fr;
    }
  
  }

/* Productlist.html */

#productListContainer{
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  padding: 50px;

}

main h1{ display: grid;
  grid-column: 1/-1;
  font-size: 30px;
padding-left: 50px;}


.card img {
  width: 100%;
}

.card .category{
  font-size: 15px;
  color: #555;
}

.old-price{
  font-size: 15px;
  color: #000000;
  text-decoration: line-through;
  text-decoration-color: #ff0000;
  
}

.card .read-more{
  font-size: 15px;
  color: #393f97;
}

/* sold out badgets */
.card-img{
  position: relative;
}
.sold-out-badge {
  position: absolute;
  background-color: #ff0000;
  color: #fff;
  font-size: 20px;
  padding:15px;
  font-weight: bold;
}
.soldout img{
  filter: grayscale(100%) blur(2px);
}

/* Discount badgets */

.discount{
  background-color: yellow;
  color: #000000;
  margin: 10px;
  padding: 5px;
  font-style: italic;
}

.new-price{
  color: red;
}


@media (max-width: 1000px) {
    .card-grid {
        /* Ændrer til 2 kolonner på tablets */
        grid-template-columns: 1fr 1fr;
    }
    .sold-out-badge{
    grid-template-columns: 1fr 1fr;}
}

@media (max-width: 480px) {
    .card-grid {
        /* Ændrer til 1 kolonne på mobiltelefoner */
        grid-template-columns: 1fr;
    }
  
  }

  /* product.html */

  /* Containeren med billede */
  .container {
    max-width: 10000px;
    margin: auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.product-image-container {
    text-align: center;
    padding: 50px 0;
}

.product-image {
    max-width: 80%;
    height: auto;
}

/* Produktbeskrivelsen */

.contentSections {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 20px;
}

.product-info {
    flex-basis: 55%;
  }
  .product-info h1{
    font-size: 25px;
    font-style: italic;
    font-weight: lighter;
    text-decoration: underline;
  }
.product-info h2 {
    font-size: 50px;
    margin-bottom: 20px;
}
.product-info p {
    margin: 5px 0;
}
.product-info .first {
    font-weight: bold;
}

.product-info p {
    font-style: italic;
}

/* Nike logo */

.nike-logo img {
  width: 200px;
}

.nike-logo p {
    margin: 0;
    font-style: italic;
    font-size: 15px;
}

/* Drop down menu for køb af størrelser */

.buy-box {
    flex-basis: 50%;
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 5px;
}
.buy-box h3 {
    font-size: 30px;
    margin-top: 0;
}
.buy-box .category {
    font-size: 18px;
    color: #666;
    margin-bottom: 20px;
}

/* Vælg størrelse */
.size-selector{
    position: relative;
   display: inline-block;
   
}

.size-selector label {
    display: block;
    margin-bottom: 5px;
    
}
.size-selector select {
    width: 200px;
    padding: 5px;
    font-size: 1em;
    border-radius: 4px;
    appearance: none;
    background-size: 10px;
    background-color: #fff;
  border: none;
    background-color: #f9f9f9; 
  padding: 10px 5px;
  border: 2px solid #1091fb;
  border-radius: 5px;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="%23000"><path d="M7 10l5 5 5-5z"/></svg>');
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 40px;
}

/* Tilføj til kurv */

.add-to-basket-btn {
    width: 200px;
    background-color: #d3d3d3;
    border: none;
    padding: 10px 5px;
    border: 2px solid black;
    font-size: 1em;
    font-weight: bold;
    color: #000;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 20px;
    
}

.add-to-basket-btn:hover {
     background-color: #bbbbbb;
    color: #fff;
}

/* Navigationsbar */

.nav-bar ul {
  margin-top: -50px;
}

.nav-bar ul {
  list-style: none;
  display: flex;
  gap: 8px;
}

.nav-bar a {
  color: #555; 
}

.nav-bar a:hover {
  color: #000000; 
  font-weight: bold;
}

/* Tilføjer det lille >-tegn */
.nav-bar li:not(:last-child)::after {
  content: '>';
  margin-left: 8px; 
  color: #999; 
}

.nav-list li:last-child {
  color: #000; 
}
