/* Index siden - landing page - kategorierne */
/* main */
.welcome-text {
    font-size: 30px;
    text-align: center;
    color: #000000;
}
.welcome-text-h2 {
    font-size: 20px;
    font-weight: normal;
    text-align: center;
    color: #000000;
}


/* Kategorierne */

.grid-container div {
    font-size: 1.8em;
    font-weight: bold;
    color: #333;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    padding: 50px;
}

.grid-container div {
  display: grid;
  grid-column: 1/-1;
  font-size: 20px;

}

.card {
    background-color: #888;
    color: #fff;
    padding: 70px 10px;
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
}

.card:hover {
    background-color: #666;
}

h2{padding: 50px;}

/* Productlist.html */

.card-grid{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  padding: 50px;
}

main h1{ display: grid;
  grid-column: 1/-1;
  font-size: 30px;
padding-left: 50px;}

.card {
    /* Fjern 'width' og 'box-shadow' herfra, hvis du ønsker det. 'grid' tager sig af bredden. */
    background-color: #fff;
    border: 1px solid #ddd;
    text-align: left;
    position: relative;
    overflow: hidden;
}
.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

@media (max-width: 768px) {
    .card-grid {
        /* Ændrer til 2 kolonner på tablets */
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 480px) {
    .card-grid {
        /* Ændrer til 1 kolonne på mobiltelefoner */
        grid-template-columns: 1fr;
    }